/* 共通部分 */
body{
  background-image: url(https://github.com/Takeru-M/portfolio/blob/main/image/Night%20Sky%20Wallpapers,%20free%20Night%20Sky%20Wallpaper%20Download%20%20,%20Page%203.png?raw=true);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index:1;
  color: white;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}

img{
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
  margin: 0;
}

h3{
  font-size: 25px;
}

/* ヘッダー */
.header{
  color: white;
  display: flex;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid gray;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-menu{
  margin-left: 30px;
}

.nav-btn{
  display: none;
}

.header-menu{
  display: flex;
}

.header-nav{
  margin-left: auto;
}

.nav-list{
  display: flex;
  list-style: none;
}

.nav-item a{
  padding: 10px 15px;
}

.nav-item:nth-child(5){
  margin-right: 20px;
}

.nav-item a:hover{
  opacity: 0.7;
}

@media screen and (max-width: 768px){
  .header-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-top: 80px;
  }
  .header-menu{
    margin: 0;
  }
  .header-nav{
    visibility: hidden;
  }
  .header-nav.-active{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }
  .nav-list{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  .nav-item{
    margin: 10px auto;
  }
  .nav-item:nth-child(5){
    margin: 10px auto;
  }
  .nav-btn{
    display: block;
    width: 45px;
    height: 30px;
    appearance: none;
    background: transparent;
    border: none;
    font: inherit;
    outline: none;
    position: relative;
    left: 30px;
  }
  .nav-btn.-active span{
    top: 0;
    bottom: 0;
    margin: auto;
    transition: transform 0.3s ease;
  }
  .nav-btn.-active span:first-child{
    transform: rotate(45deg);
  }
  .nav-btn.-active span:nth-child(2){
    transform: rotate(45deg);
  }
  .nav-btn.-active span:last-child{
    transform: rotate(-45deg);
  }
  .nav-btn span{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
  }
  .nav-btn span:first-child{
    top: 0;
  }
  .nav-btn span:nth-child(2){
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav-btn span:last-child{
    bottom: 0;
  }
}

/* トップ */
.top{
  background-image: url(../image/2664027.jpg);
  background-position: center;
  background-size: cover;
  height: 815px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

/* サービス */
.service{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(https://github.com/Takeru-M/portfolio/blob/main/image/2664027.jpg?raw=true);
  background-position: center;
  background-size: cover;
}

.service-list{
  display: flex;
  justify-content: center;
  padding: 30px 50px 0 50px;
}

.service-item{
  padding: 30px 10px;
  margin: 0 10px;
  width: 33%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
}

.fa-size{
  font-size: 180px;
}

.service-message{
  width: 50%;
  background-color: rgb(0, 0, 0, 0.7);
  margin: 50px auto 0 auto;
  padding: 10px;
}

@media screen and (max-width: 768px){
  .service-list{
    flex-wrap: wrap;
  }
  .service-item{
    width: 100%;
    margin: 10px 0;
  }
}

/* フロー */
.flow{
  background-color: black;
  padding: 60px;
}

.flow-list{
  display: flex;
}

.flow-item{
  padding: 0 15px;
  width: 25%;
}

@media screen and (max-width: 1000px){
  .flow-list{
    flex-wrap: wrap;
  }
  .flow-item{
    width: 40%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 600px){
  .flow{
    padding: 60px 20px;
  }
  .flow-list{
    flex-wrap: wrap;
  }
  .flow-item{
    width: 100%;
    margin: 10px 0;
  }
}

/* about me */
.about-me{
  padding: 60px;
  background-color: black;
}

.about-me-ttl{
  padding-bottom: 30px;
}

.about-me-img{
  margin: 0 auto;
}

.about-me-img img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 20px 0 60px 0;
}

.introduction{
  margin: 30px 0 60px 0;
}

.background{
  margin: 30px 0 60px 0;
}

/* works */
.works{
  background-image: url(https://github.com/Takeru-M/portfolio/blob/main/image/4776751_m.jpg?raw=true);
  background-position: center;
  background-size: cover;
  padding: 60px 30px;
}

/* コンタクト */
.contact{
  padding: 60px 0;
}

.contact-ttl{
  padding: 20px 0;
}

.contactform{
  margin-top: 50px;
}

.contact p{
  font-size: 20px;
}

.contact a{
  padding: 20px;
  background-color: black;
  border-radius: 20px;
}

.contact a:hover{
  background-color: white;
  color: black;
}

/* フッター */
.footer{
  padding-top: 80px;
}
